## Pandas

In [3]:
import pandas as pd

### Reading data

In [5]:
df= pd.read_csv("hk_for_all_pre_processed_data/helathcareforall.csv" )
df.head(7)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,0,4407,R2,12.0

In [6]:
df[0:5]

   CONTROLN STATE GENDER      HV1  IC1  ...    AVGGIFT  TCODE   DOB  DOMAIN  TARGET_D
0     44060    FL      M   AAA896  392  ...  28.000000      1  1901      C2     100.0
1     96093    IL      M   537.00  365  ...   5.666667      0     0      T2       7.0
2     43333    FL      F   725.00  301  ...   4.111111      0  2501      C2       5.0
3     21885    NC      M  AAA1095  401  ...  27.277778      0  2208      T2      38.0
4    190108    FL      F   995.00  252  ...   6.000000     28     0      C2       5.0

[5 rows x 17 columns]

Data with no header (column names)

In [6]:
df2 = pd.read_csv("hk_for_all_pre_processed_data/healthcareforall_no_header.csv", header=None)
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

Getting the columns of the dataframe

In [7]:
list(df2.columns)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
list(df.columns)

['CONTROLN',
 'STATE',
 'GENDER',
 'HV1',
 'IC1',
 'IC4',
 'HVP1',
 'IC5',
 'POBC1',
 'POBC2',
 'IC2',
 'IC3',
 'AVGGIFT',
 'TCODE',
 'DOB',
 'DOMAIN',
 'TARGET_D']

Skipping rows at the top

In [10]:
df3 = pd.read_csv("hk_for_all_pre_processed_data/healthforall_bigheader.csv", skiprows=5,header=None)
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
1,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
2,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
3,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
4,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0

Tabs

In [12]:
df4 = pd.read_csv("hk_for_all_pre_processed_data/healthcareforall_tabs.txt", sep="\t")
df4.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

Excel data

In [13]:
#pd.read_excel("full_path",sheet_name="")

### Quick exploration

In [14]:
df4.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [15]:
df4.tail(7)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
1008,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
1009,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295,0,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [17]:
print(df4.to_string(header=False))

0     190579         CA        M  3200   310   343  83  17224  31  32   311   333    3.106061      1     0  U1    4.00
1      42997         FL        F  1567   392   409  27  18631   4  10   391   434    6.562500      2  1808  C1    7.00
2     132896         OR        F   953   319   455   1  15729   3  45   379   387   15.571429      2  4410  T1   25.00
3     120189         TX        M   492   244   301   3  10818   0  92   260   284   19.375000      0     0  T2   25.00
4     138829         AZ  feamale   847   185   308   0  11582   3  20   238   225   11.500000     28  3601  T2   25.00
5     167462         CA        M  2645   644   697  87  20782  26  46   655   682    8.750000      0  3601  S1   15.00
6     160401         CA        F  1952   335   398  48  15290   6  55   365   367   13.000000     28  3101  T2   13.00
7     174934         OR        F  1305   391   471  19  19716   7  40   456   448    7.000000     28     0  S2    5.00
8       2020         CA        F  3556   735   805  98  34382   9  55   701   838    7.350000      2  2401  S1    7.00
9      74235         MI        M   473   327   363   1  12580   0  94   338   348   13.500000      4  4912  T2   26.00
10    167039         CA      NaN  3201   497   591  92  19656   9  72   552   539    5.000000      0     0  S1    5.00
11    165509         CA        M  2213   447   491  77  16702   7  62   447   491    4.950000      0     0  C1   10.00
12    151653         CA      NaN  1455   376   426   7  14860  19  39   417   393    6.350000      0  2401  U3   10.00
13    100132         MO        F   393   216   301   0  10107   0  71   258   258   10.000000      0  2401  S2   15.00
14    161726         CA        F  2453   438   475  86  15707  16  45   451   436    5.812500      0  4601  T1    7.00
15    125986         TX        M   533   246   308   1  10096   3  75   276   287   13.375000      0  4610  T2   17.00
16    185394         MI        F   647   285   338   0  12910   7  80   317   300    8.916667      2  2702  S2    5.00
17     43799         FL        F  1044   366   499  15  22427   8  35   318   458   13.166667      2  5801  T2   20.00
18    185464         KY        M   702   308   397   0  14670   9  23   348   337   11.111111      1  3910  T2   15.00
19    125325         TX        M   852   516   556   1  16206   4  46   540   535   14.623478     13  1709  S1   20.00
20    112679         OK        M  1045   528   618   1  19402   3  48   538   604   15.000000      1  4801  S1   20.00
21      2415         CA        F  5501   817   958  98  41734  33  36   924   870   17.500000     28  5501  S1   25.00
22    166866         CA        F  3921   754   835  96  33998   7  50   804   799   10.000000      0     0  S1   12.50
23      4211         TX        F   919   425   697  10  25784   4  63   562   558   17.923077      2   402  C1   25.00
24    182395         WA        F   755   210   313   2  11983   9  39   315   244   16.500000     28  2601  C2   10.00
25    188178         NV        F  1383   410   562  14  22875   8   8   464   499    7.000000     28     0  S2    8.00
26    147835         CA        F  3694   421   666  97  28021  25  41   611   601   32.222222      0     0  C1   20.00
27      5532         MD        M  1690   598   700  29  24959   4  30   655   653    9.928571      0  2104  T2   15.00
28    128857         TX        M   438   213   264   0   7722  23  47   213   265   26.000000      1  4801  C3   15.00
29     40058         FL        F  1187   400   469  12  21608  12  11   448   438   11.666667      2  1007  C2   25.00
30    179377         WA      NaN  1617   398   490  29  14123   4  59   414   457    7.500000      0     0   0   10.00
31    166207         CA        M  1367   342   355   4  14197   2  57   329   359    6.750000      1     0  U2    9.00
32    124227         TX        U   267   121    94   0   4567   0  69    72   169   13.875000      0     0  C3   25.00
33      7173         TN        F   854   321   427   0  16171   0  58   389   372   17.733333      2  3008  S1   32.00
34     85152         MN        M   493   244   395   1  12517   1  87   311   314   12.500000      2     0  R3   10.00
35     32807         FL        M   700   327   375   0  11551   9  44   360   355    5.444444   1002  3301  S2    5.00
36       268         FL        F  1765   327   562  44  27674  14   8   465   442   22.380952      0   607  C1   33.00
37    109514         LA        M     0     0     0   0      0   0   0     0     0    5.666667      0  3601  T2    6.00
38    181644         WA        F   929   327   352   8  12995   5  47   369   314    8.500000      0  5707  C3   12.00
39     62585         NC  feamale   581   231   332   1  11794   0  90   267   288   14.000000      0  5001  C3   25.00
40    163354         CA        F  4313   748   811  98  27850  16  54   783   752   11.857143      0   604  U1   10.00
41     98672         IL        M   470   274   337   0  11192   1  91   313   282    4.200000      0  6506  C3    5.00
42    190614         CO        F  1159   572   561   0  17337   6  28   557   574    6.230769      0     0  S1    3.00
43    155607         CA        F  3152   853   950  81  35415  10  45   891   908   34.000000      0  5401  S1   38.00
44    161804         CA        M  1137   348   444   5  11621  27  54   362   425    9.000000      1  3906  R2    5.00
45     11348         FL        M   912   313   442   8  18554   6  14   370   379   12.166667      0     0  C2    5.00
46    111380         AR        M   332   219   296   0   9763   0  84   257   261    7.133333      1  2801  R3   10.00
47     86578         ND        M   247   195   259   0   8189   1  87   220   231    5.500000      2  1201  R3   15.00
48    157904         CA        F  2190   611   709  63  23641  16  43   655   669    6.500000      0  4401  S1    6.00
49    140924         NV        M  1117   461   450   3  16614   6  28   461   461    6.428571   1002     0  S2    7.00
50     32972         FL        F   814   268   312   1  10427   3  46   282   298   10.400000      0  5511  S2   12.00
51    149541         CA        F  1814   328   410  27  10846  40  43   418   380   10.666667      2  3601  S2   10.00
52    182604         WA        F   403   195   365   0  11859   8  63   288   237   20.000000      0  2801  T2   15.00
53    103876         MO        F   613   264   357   0  12334   2  64   323   300   10.666667     28  3001  C2   20.00
54     65999         MI        M  2712  1022  1079  81  49631  13  44  1144   989   18.428571      2  1909  C1   25.00
55    104394         KS        F   958   467   582   8  18211   3  45   499   525    7.600000     28  3501  C1   10.00
56    117524         TN        F  1129   332   537  12  22706   8  43   445   429   20.833333     28  4402  S1   25.00
57    147904         CA        F  4984   630   777  98  27747  24  41   702   734   12.142857      0  1501  S1   50.00
58    105815         KS        M   452   270   324   0  11198   4  62   300   297   14.800000   1002  5001  C3   20.00
59     31778         FL        M   986   485   539  11  18013   2  26   495   530   20.111111      1  4308  T1   25.00
60    112084         AR        M   655   215   305   3  12067   1  31   247   267   14.440000      1  2410  R2   14.00
61     58850         KY        M   459   133   258   0  13898   0  81   195   237    3.521739      1  2201  T2    6.00
62    185901         TX        M   674   317   553   2  19769   0  57   402   458    5.363636      2   801   0   10.00
63    134566         UT        F   728   265   339   2   8896   2  54   304   315   10.357143      0     0  S2   10.00
64    185819         CA        M  4153   580   891  91  35520  13  41   886   640   12.000000      2  1601  S1   13.00
65      3985         TX        F   348   197   265   0   7978   3  87   223   239   10.226923      0  2612  R3   12.00
66     23321         SC        F   869   426   511   4  17534   0  68   505   465    7.250000      0  3011  T1   10.00
67    158978         CA        M  1876   393   450  24  11692  25  46   404   419   10.833333      0  5009  S2   15.00
68     14388         FL        M   865   341   432   3  15630   7  21   387   392    6.266667   1002  6206  S2   10.00
69     12779         CA        M   666   213   288   1   8943  14  47   253   268    8.166667      1  1407  R3   10.00
70     39667         FL        M   809   358   446   8  16099  10  32   389   411   13.714286      0  2209  S2   15.00
71    163731         CA        M  4763   502   609  97  24002  26  42   534   551    9.888889      1  5401  S1   11.00
72    156457         CA        F     0     0     0   0      0   0   0     0     0   15.000000      0  5308  U2   25.00
73    100369         MO        F   987   296   412   1  17097   2  76   354   344   28.000000      2  7201  S2   28.00
74     46201         FL        M  2444   729   782  70  28668   8  33   780   737   15.000000      1  3001  S1   15.00
75    118182         TX        M   503   213   292   1   9495   1  71   255   262    4.500000      0  2301  R2    5.00
76        67         NM        F  1004   189   313   0  12667   2  32   247   236    5.050000      0  1801  C2    5.00
77    116951         TX        F  1565   717   784   0  27276   9  27   780   704    6.100000      0  1404  U3    6.00
78    160032         CA        F   872   294   356   0  12433   7  62   307   343   20.400000      0     0  C2   25.00
79     60694         IN        F   501   305   399   2  13073   2  61   374   354   20.777778      0     0  R1   25.00
80     80387         WI        F   331   154   273   0  10270   2  90   237   217    4.444444      0  1401  T3    5.00
81    158143         CA        M   620   236   309   1  10406   2  60   270   279   12.361429      1  4007  S1   16.00
82     25277         SC        M   747   369   488   0  18371   1  35   457   396   15.000000      1  2101  T1   17.00
83    179454         WA        F   936   237   308   1   9875  22  48   304   257    9.500000     28  2501  U3   20.00
84    145899         NC  feamale  1491   396   566  22  26286   1  42   489   472   14.000000      0     0  S2   20.00
85    183790         WA        F   756   333   430   6  14127   1  57   372   391    8.769231      0     0  R2   14.00
86    119538         TX        F   487   217   262   0  10468  17  59   222   247    9.888889      0  3602  C3   16.00
87     24991         SC        M   651   310   382   1  12428   1  73   345   337    7.611111      1  5201  T2   11.00
88    113501         OK        F   693   404   486   0  16698   3  54   479   439    5.125000      0  6201  C2    5.00
89    185353         CA        F  1063   150   223  10   6871  26  38   148   206    3.035714     28  1801  U4    3.00
90     72308         MI        F   609   403   466   0  14455   2  87   424   422   19.250000      0  2002  T2   46.00
91    110519         LA        M   732   366   459   0  16287   1  71   374   432   10.705882      2  3801  R1   17.00
92    124193         TX        U   439   268   341   0  10164   1  72   301   307    5.800000      0     0  R2    6.00
93    181526         WA        F   871   339   384   2  11889   2  51   355   363    9.500000      0     0  T2   13.00
94      2796         AK     Male   682   374   469   3  17213   3  29   423   416   15.000000      0     0  R2   25.00
95     67954         MI        F   313   159   274   0   7661   1  76   256   220   16.250000      0  3101  U4   35.00
96     93809         IL        M  1059   334   528   0  17632  15  75   513   392    7.583333      1  2003  U2   10.00
97    109520         LA        M   687   257   328   0  10271   0  79   310   291    9.000000      1  4501  T2   15.00
98     76051         IA        M   397   248   313   0  10348   2  20   270   296   14.400000      1  4207  S3   20.00
99    145521         CA        F  2516   595   691  80  22684  15  40   649   641   13.655172      0     0  U1   16.00
100    87533         MT  feamale   747   289   387   3  14744   1  54   318   347   11.625000      0  2401  R1    5.00
101    82026         WI        F   506   270   346   0  12940   0  81   323   326    8.600000      0  2201  T2   12.00
102    97055         IL        F   412   311   380   0  13227   0  84   354   342    9.333333      0  3001  R2   22.00
103    74701         MI      NaN   360   206   267   1   9463   1  70   239   233    9.142857      1  1901  R3   20.00
104   183374         WA     male   423   208   296   1   9445  24  43   229   261    4.380952      1     0  R3   10.00
105    28565         GA        F   745   304   342   1  14465  17  39   275   353    5.166667      2     0  C3    7.00
106   139628         NM        M   691   284   337   0  11852   1  46   294   319   17.160000      2  3801  U2   20.00
107   113686         OK        J   657   358   366   0  10889   5  34   366   357   10.000000   1002  5701  C2   15.00
108   123862         TX        F   978   428   609   1  23102   7  43   559   475    4.333333      0  7001  C1    3.00
109   151629         CA        F  1586   308   369  10  11913  12  32   321   337    9.500000      0  3601  U3   15.00
110     5404         LA        U   587   291   331   0  10789   0  75   302   317   17.538462      0  3611  T2   10.00
111   150516         CA        F  3304   567   669  82  21745  42  37   614   629   24.058824     28  1501  S1   25.00
112    31911         VA        F   800   294   376   1  13480   0  63   358   333    4.285714      0     0  S1    5.00
113     2379         MI        M  1596   549   672  31  23345   3  71   603   631   10.875000      1  4809  T1   10.00
114   151455         CA      NaN  2105   301   395  55  13279  47  36   314   372   15.333333      0     0  U4   20.00
115    90499         IL        F  1480   560   718  25  22088  16  51   684   635    7.617021      0  5208  C1   10.00
116   177307         OR        F   585   216   292   1  10423   4  42   266   255    9.727273     28     0  C3   10.00
117    65423         MI        F  1033   488   651   0  22157   5  72   611   565   10.333333      3  3401  S1   10.00
118    95800         IL        M   340   147   252   0   7173   5  58   178   217   10.200000      1  1004  S3   20.00
119    91965         IL      NaN  1708   342   455  11  21795  21  70   413   374   12.687500      2  4505  S2   16.00
120   104721         KS        F  1419   694   777  13  25024   1  29   698   766    7.363636      0  6701  S2   10.00
121   165177         CA        F  2698   563   599  89  18228  27  49   593   572   10.818182      0     0  U1    5.00
122   156929         CA        U  2688   306   449  88  24944   5  37   367   418    8.642857      0     0  U2   15.00
123    52549         TN        M   556   202   389   1  14382   0  81   346   270   13.111111      1  5501  R2   30.00
124    51706         TN        M   972   193   318  16   8716   0  71   278   281   11.428571      0  4808  T2   15.00
125   117969         TX        F   498   227   315   0  10907   1  62   278   282    7.454545     28  3001  C1    9.00
126     2235         FL        M   878   285   410  10  16534   4   6   331   349   10.470588      1  3204  C2   12.00
127   161023         CA        M   883   281   362   1  11791   8  59   333   315   14.857143      2  2801  R1   20.00
128   139887         NM        F   670   231   290   2   9443   2  52   287   282   11.666667     28     0  R2   20.00
129   186212         NM        M   589   270   325   0  10889   5  45   317   292    8.588235   1002  1008  C1    7.00
130   162759         CA        F  2620   481   523  82  16047  48  36   490   519   14.428571      0  4001  S1   18.00
131    95654         IL        M   677   426   489   0  18718   2  71   466   442   10.666667      1  3308  S2   20.00
132   101774         MO        F   464   164   285   0   9685   1  64   257   224    8.222222      0  6201  C3    8.00
133    21710         NC        M   600   257   349   1  12433   2  64   308   292    9.526316      2     0  T2   10.00
134    65565         MI        F   707   282   474   0  15832  13  73   393   383    4.176471      2   701  U2   10.00
135   171631         CA        F  1537   495   544  19  17689  13  58   509   528   11.192308      4  5302  S1   10.00
136    24869         SC        F   682   366   498   2  14538   3  63   464   421    8.000000      0  6001  T2    8.00
137   129846         SD        M   867   483   536   2  18757   1  51   492   524   12.500000      1  4201  T1   11.00
138   150379         CA        F  1943   312   381  45  16083  12  54   353   355   20.000000      0     0  S2   20.00
139    36590         FL        M  1037   439   529   0  18050  44  27   456   511   10.000000      1  4801  S1   10.00
140    59744         IN        F   595   284   406   0  13860   0  77   317   333    9.000000     28  5408  T2   16.00
141    31893         IL        F   375   267   296   8   8354   6  13   270   295   20.000000      0     0  T2   20.00
142    46884         AL        F   397   229   386   1  13233   0  74   329   336    9.777778      0     0  R3   15.00
143    66745         MI        F   584   283   386   0  14843   4  68   386   307   15.000000     28  7201   0    5.00
144    10709         WA      NaN   534   206   272   1   9104   1  48   231   248   13.555556      0     0   0   23.00
145    73984         MI        M   362   209   275   0   8558   1  91   235   246    9.722222      0  3305  R3   10.00
146    27597         GA        M   991   493   548   3  17344   2  46   506   532    5.800000      1  5801  T1    9.00
147   150587         CA        U  1805   398   447  33  14703  11  58   394   441   10.666667      0     0  S2   20.00
148   187191         GA      NaN  2639   436   764  68  35502   3  39   594   584   15.000000      0     0  C1   25.00
149    85357         MN        F   476   202   304   0  10581   2  80   274   236   10.733333      2  2908  R2   15.00
150   156866         CA        M  3393   537   580  97  22083   6  50   553   589   20.000000     14  2201  U1   25.00
151   164513         AE        F     0     0     0   0      0   0   0     0     0   12.500000      0  4701  C1   50.00
152   163369         CA      NaN  2250   181   167  99  11346  44  16   159   192    6.000000      0     0  U2    6.00
153      551         TX        F   340   180   279   1   9343   3  80   227   235   15.333333      2  1201  T2   20.00
154    18750         NC   female   482   302   462   1  15573   0  72   328   396   12.500000      0  5201  T2   20.00
155    81277         WI        F   322   233   320   0  10317   0  84   258   291   15.000000      2  4401  R1   25.00
156   128121         TX        F   655   406   481   0  16426   1  72   432   430    9.000000      0     0  S1   10.00
157    84199         MN        F   908   487   493   0  14526   0  79   482   499    5.090909      0  2501  S2    5.00
158   183476         WA        F   718   471   541   3  18190   4  59   508   497   11.076923      2  5008  T2   25.00
159   162994         CA        M  2750   252   392  75  19558  34  20   332   302   10.666667      1     0  U1   10.00
160    32040         GA        M   397   184   285   1   9831   0  91   219   237    9.333333      4  2801  C1   20.00
161    65968         MI        M  1040   220   278   4  14610   0  56   309   256    7.937500      1  6105  C1    9.00
162   135896    Arizona        M   675   186   265  17  11355   2   7   238   207    6.111111      0  2501  C3    2.00
163    46461         FL        M   719   381   410   0  13552   2  36   398   389   11.333333      1  1801  C2   12.00
164     2396         FL      NaN   588   233   266   1  10309  10  21   249   254    8.333333      0     0  T2    5.00
165    93500         IL        F  1053   368   465   0  15176  20  73   419   402    8.333333      0  3705  U4   10.00
166    90899         IL        F   419   279   303   0   7285   0  72   295   296   12.000000     28  3912  S3   17.00
167   116542         TX        U   481   172   264   1   9264   0  79   218   227   15.000000      0     0  R3   20.00

#### Renaming columns

Columns names can be replaced in several ways. 

One of them is to provide a new **list of column names** and replace the value of `df.columns`

Another is to use the method `.rename()` which can be applied to a dataframe. This method needs as an input a **dictionary** in which the old column names are the keys, while the new column names are the values.

#### Excercise:



Can you figure out how to use list comprehension and string methods in order to have all the column names in lowercase in df4?

In [19]:
df4.head()

   CONTROLN STATE   GENDER   HV1  IC1  ...    AVGGIFT  TCODE   DOB  DOMAIN  TARGET_D
0    190579    CA        M  3200  310  ...   3.106061      1     0      U1       4.0
1     42997    FL        F  1567  392  ...   6.562500      2  1808      C1       7.0
2    132896    OR        F   953  319  ...  15.571429      2  4410      T1      25.0
3    120189    TX        M   492  244  ...  19.375000      0     0      T2      25.0
4    138829    AZ  feamale   847  185  ...  11.500000     28  3601      T2      25.0

[5 rows x 17 columns]

In [18]:
#df4.columns

df4.columns = [ i.lower() for i in df4.columns]
df4.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [20]:
df4['ic5']

0       17224
1       18631
2       15729
3       10818
4       11582
        ...
1010    13811
1011    13811
1012    29098
1013    16623
1014    12713
Name: ic5, Length: 1015, dtype: int64

In [21]:
list(df4.columns)

['controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [23]:
# Convert the column names to lower case and store them in a list
df4.columns = [elem.lower() for elem in list(df4.columns)]
df4.columns
df4.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [ ]:
# Assign the list with the lower case names to the "columns" attribute of the dataframe

In [28]:
df4.columns[1]

'state'

#### Excercise:

Can you replace the following columns by the new values using a dictionary?

* "ic2" -> "med_house_income"
* "ic3" -> "med_fam_income"
* "ic4" -> "avg_fam_income"

In [32]:
#df4 = df4.rename(columns={"ic2":"med_house_income", "ic3":"med_fam_income","ic4": "avg_fam_income"})
df4.rename(columns={"ic2":"med_house_income", "ic3":"med_fam_income","ic4": "avg_fam_income"}, inplace=True )

In [33]:
df4.head()

,controln,state,gender,hv1,ic1,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

In [35]:
# use a dictionary to rename specific columns
my_dict = {"ic1":"med_house_income",
 "ic2":"med_fam_income",
 "ic3":"avg_house_income",
 "ic4":"avg_fam_income"}

#df4 = df4.rename(columns=my_dict)
df4.rename(columns=my_dict, inplace=True)
df4.head()

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

#### Deleting columns

In [38]:
df5 = df4.copy()

In [39]:
df5.drop(columns=["ic5",'pobc1'], inplace=True)
df5.head()

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,20,238,225,11.500000,28,3601,T2,25.0

In [40]:
df4.head()

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

#### Rearanging columns

In [41]:
list(df5.columns)

['controln',
 'state',
 'gender',
 'hv1',
 'med_house_income',
 'avg_fam_income',
 'hvp1',
 'pobc2',
 'med_house_income',
 'med_fam_income',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

Reordering columns is as simple as replace the dataframe with the new ordering of the columns.

In [42]:
df5 = df5[['controln',
 'state',
 'hv1',
 'avg_fam_income',
 'med_house_income',
 'hvp1',
 'pobc2',
 'med_fam_income',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']]

df5.head()

,controln,state,hv1,avg_fam_income,med_house_income,med_house_income,hvp1,pobc2,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,3200,343,310,311,83,32,333,3.106061,1,0,U1,4.0
1,42997,FL,1567,409,392,391,27,10,434,6.562500,2,1808,C1,7.0
2,132896,OR,953,455,319,379,1,45,387,15.571429,2,4410,T1,25.0
3,120189,TX,492,301,244,260,3,92,284,19.375000,0,0,T2,25.0
4,138829,AZ,847,308,185,238,0,20,225,11.500000,28,3601,T2,25.0

#### Indexing & subsetting

Let's see one example of a filter:

select people who have "M" as their gender

In [43]:
df4[df4['gender'] == "M"]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.750000,0,3601,S1,15.0
9,74235,MI,M,473,327,363,1,12580,0,94,338,348,13.500000,4,4912,T2,26.0
11,165509,CA,M,2213,447,491,77,16702,7,62,447,491,4.950000,0,0,C1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,15332,NC,M,723,371,456,0,18915,6,47,414,398,6.538462,1,1701,C1,10.0
1000,74235,MI,M,473,327,363,1,12580,0,94,338,348,13.500000,4,4912,T2,26.0
1002,165509,CA,M,2213,447,491,77,16702,7,62,447,491,4.950000,0,0,C1,10.0
1006,125986,TX,M,533,246,308,1,10096,3,75,276,287,13.375000,0,4610,T2,17.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0

We can use several filters but each condition or filter should be placed within parentheses.

Select people who have either "M" or "F" as their gender

& -> and
| -> or

In [44]:
df4[(df4['gender'] == "M") | (df4['gender'] == "F")] # & -> and, | -> or

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.750000,0,3601,S1,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
1009,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0

In [45]:
df4[(df4['gender'] == "M") | (df4['gender'] == "F")]
#df4[np.where(df4['gender'].isin(["M","F"])) == True]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.750000,0,3601,S1,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
1009,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0

Another example:

Select people who have for which 'target_d' > 15:

In [51]:
df4[df4['target_d'] > 15]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
9,74235,MI,M,473,327,363,1,12580,0,94,338,348,13.500000,4,4912,T2,26.0
15,125986,TX,M,533,246,308,1,10096,3,75,276,287,13.375000,0,4610,T2,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,114803,OK,F,911,384,613,16,31001,2,58,496,497,6.333333,28,0,C1,20.0
1000,74235,MI,M,473,327,363,1,12580,0,94,338,348,13.500000,4,4912,T2,26.0
1006,125986,TX,M,533,246,308,1,10096,3,75,276,287,13.375000,0,4610,T2,17.0
1008,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0

Select people from Florida ("FL")

In [52]:
df4[df4['state'] == "FL"].head(10)

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
17,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
29,40058,FL,F,1187,400,469,12,21608,12,11,448,438,11.666667,2,1007,C2,25.0
35,32807,FL,M,700,327,375,0,11551,9,44,360,355,5.444444,1002,3301,S2,5.0
36,268,FL,F,1765,327,562,44,27674,14,8,465,442,22.380952,0,607,C1,33.0
45,11348,FL,M,912,313,442,8,18554,6,14,370,379,12.166667,0,0,C2,5.0
50,32972,FL,F,814,268,312,1,10427,3,46,282,298,10.400000,0,5511,S2,12.0
59,31778,FL,M,986,485,539,11,18013,2,26,495,530,20.111111,1,4308,T1,25.0
68,14388,FL,M,865,341,432,3,15630,7,21,387,392,6.266667,1002,6206,S2,10.0
70,39667,FL,M,809,358,446,8,16099,10,32,389,411,13.714286,0,2209,S2,15.0

How many people from each gender in Florida?

In [53]:
df4[(df4['gender'] == "M") & (df4['state'] == "FL") ].shape[0]

39

In [54]:
df4[(df4['gender'].isin(["M","F"]) == True) & (df4['state'] == "FL") ].shape

(80, 17)

We can get how many possible values we have for one particular column using the method `.value_counts()`. This method returns a pandas **Series**

In [55]:
df4[df4['state'] == "FL"]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
17,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0
29,40058,FL,F,1187,400,469,12,21608,12,11,448,438,11.666667,2,1007,C2,25.0
35,32807,FL,M,700,327,375,0,11551,9,44,360,355,5.444444,1002,3301,S2,5.0
36,268,FL,F,1765,327,562,44,27674,14,8,465,442,22.380952,0,607,C1,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,34591,FL,M,835,413,410,0,14004,7,20,414,429,19.666667,1,3401,S2,23.0
969,32622,FL,M,533,201,286,4,10597,3,25,230,256,23.833333,1,805,R2,47.0
981,43781,FL,M,1069,198,367,7,16759,5,15,257,308,6.125000,1,3001,C2,10.0
997,34475,FL,M,696,277,355,2,12415,3,51,314,325,20.400000,2,3009,R2,20.0
1008,43799,FL,F,1044,366,499,15,22427,8,35,318,458,13.166667,2,5801,T2,20.0

In [56]:
type(df4[df4['state'] == "FL"])

pandas.core.frame.DataFrame

In [57]:
df4[df4['state'] == "FL"]['gender']

1       F
17      F
29      F
35      M
36      F
       ..
950     M
969     M
981     M
997     M
1008    F
Name: gender, Length: 85, dtype: object

In [58]:
type(df4[df4['state'] == "FL"]['gender'])

pandas.core.series.Series

In [59]:
df4[df4['state'] == "FL"]['gender'].value_counts(dropna=False)

F      41
M      39
NaN     4
J       1
Name: gender, dtype: int64

In [60]:
df4[df4['state'] == "FL"]['gender'].unique()

array(['F', 'M', nan, 'J'], dtype=object)

In [61]:
df4['gender'].value_counts(dropna=True)

F          504
M          378
male        32
female      30
Female      15
U           13
Male         5
feamale      4
J            4
Name: gender, dtype: int64

In [62]:
type(df4['gender'].value_counts())

pandas.core.series.Series

In [63]:
df4['gender'].value_counts()['Female']

15

In [64]:
df4['gender'].value_counts().sum()

985

The method `.value_counts()` doesn't show the missing values. If we want to know if there are any, we can provide the option `dropna=False`.

In [65]:
df4['gender'].value_counts(dropna=False).sum()

1015

In [66]:
df4['gender'].value_counts(dropna=False)

F          504
M          378
male        32
NaN         30
female      30
Female      15
U           13
Male         5
feamale      4
J            4
Name: gender, dtype: int64

We can know what are the unique values of a column using the method `.unique()`, and then the method `.tolist()` to castthe resulting **Series** into a list.

In [67]:
df4["gender"].unique().tolist()

['M', 'F', 'feamale', nan, 'U', 'Male', 'male', 'J', 'female', 'Female']

In [68]:
df4.shape

(1015, 17)

The method `.info()` allow us to obtain information about every column in the dataframe

In [69]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   controln          1015 non-null   int64
 1   state             1015 non-null   object
 2   gender            985 non-null    object
 3   hv1               1015 non-null   int64
 4   med_house_income  1015 non-null   int64
 5   avg_fam_income    1015 non-null   int64
 6   hvp1              1015 non-null   int64
 7   ic5               1015 non-null   int64
 8   pobc1             1015 non-null   int64
 9   pobc2             1015 non-null   int64
 10  med_house_income  1015 non-null   int64
 11  med_fam_income    1015 non-null   int64
 12  avggift           1015 non-null   float64
 13  tcode             1015 non-null   int64
 14  dob               1015 non-null   int64
 15  domain            1015 non-null   object
 16  target_d          1015 non-null   float64
dtypes: float64(2), int64(12), object(3)
memory usage: 134.9+ KB

The method `.describe()` give us a **dataframe** with an statistical summary of every column

In [70]:
df4.describe()

,controln,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,target_d
count,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000,1015.000000
mean,96351.472906,1137.401970,349.104433,440.786207,15.424631,16434.610837,7.115271,55.825616,397.914286,395.131034,11.970404,95.952709,2787.850246,15.481773
std,57107.922941,1048.030341,172.584516,178.826938,28.600285,9695.004583,10.036399,21.376039,185.040178,167.825716,15.314822,1514.092209,2057.395908,10.591076
min,67.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.439815,0.000000,0.000000,1.000000
25%,44557.500000,532.500000,236.000000,322.000000,0.000000,11064.500000,1.000000,42.000000,282.000000,282.000000,7.107026,0.000000,1101.000000,10.000000
50%,96031.000000,770.000000,311.000000,399.000000,1.000000,14119.000000,3.000000,58.000000,359.000000,355.000000,10.190476,1.000000,2711.000000,14.000000
75%,147839.500000,1258.500000,419.500000,518.500000,12.000000,18674.500000,9.000000,73.000000,467.500000,466.000000,14.250000,2.000000,4501.000000,20.000000
max,191138.000000,5970.000000,1386.000000,1273.000000,99.000000,95913.000000,72.000000,96.000000,1500.000000,1208.000000,450.000000,39002.000000,9310.000000,100.000000

In [71]:
temp = df4.describe().transpose()
temp

,count,mean,std,min,25%,50%,75%,max
controln,1015.0,96351.472906,57107.922941,67.000000,44557.500000,96031.000000,147839.50,191138.0
hv1,1015.0,1137.401970,1048.030341,0.000000,532.500000,770.000000,1258.50,5970.0
med_house_income,1015.0,349.104433,172.584516,0.000000,236.000000,311.000000,419.50,1386.0
avg_fam_income,1015.0,440.786207,178.826938,0.000000,322.000000,399.000000,518.50,1273.0
hvp1,1015.0,15.424631,28.600285,0.000000,0.000000,1.000000,12.00,99.0
ic5,1015.0,16434.610837,9695.004583,0.000000,11064.500000,14119.000000,18674.50,95913.0
pobc1,1015.0,7.115271,10.036399,0.000000,1.000000,3.000000,9.00,72.0
pobc2,1015.0,55.825616,21.376039,0.000000,42.000000,58.000000,73.00,96.0
med_house_income,1015.0,397.914286,185.040178,0.000000,282.000000,359.000000,467.50,1500.0
med_fam_income,1015.0,395.131034,167.825716,0.000000,282.000000,355.000000,466.00,1208.0
avggift,1015.0,11.970404,15.314822,2.439815,7.107026,10.190476,14.25,450.0
tcode,1015.0,95.952709,1514.092209,0.000000,0.000000,1.000000,2.00,39002.0
dob,1015.0,2787.850246,2057.395908,0.000000,1101.000000,2711.000000,4501.00,9310.0
target_d,1015.0,15.481773,10.591076,1.000000,10.000000,14.000000,20.00,100.0

In [72]:
temp.iloc[0,:]

count      1015.000000
mean      96351.472906
std       57107.922941
min          67.000000
25%       44557.500000
50%       96031.000000
75%      147839.500000
max      191138.000000
Name: controln, dtype: float64

In [73]:
temp.loc['controln']

count      1015.000000
mean      96351.472906
std       57107.922941
min          67.000000
25%       44557.500000
50%       96031.000000
75%      147839.500000
max      191138.000000
Name: controln, dtype: float64

In [74]:
type(df4.describe().transpose())

pandas.core.frame.DataFrame

#### Indexing

Select rows 5 and 6:

In [75]:
df4.loc[5:6]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.75,0,3601,S1,15.0
6,160401,CA,F,1952,335,398,48,15290,6,55,365,367,13.00,28,3101,T2,13.0

In [76]:
df4.iloc[5:6]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.75,0,3601,S1,15.0

In [77]:
df4.iloc[[5,7],[0,2]]

   controln gender
5    167462      M
7    174934      F

In [78]:
df4.head()

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0

Select columns "gender" and "ic2", and rows 4 to 10:

In [ ]:
df4.gender

In [103]:
df4.gender.unique()

array(['M', 'F', 'feamale', nan, 'U', 'Male', 'male', 'J', 'female',
       'Female'], dtype=object)

In [79]:
df4.iloc[4:10,[2,1]]

    gender state
4  feamale    AZ
5        M    CA
6        F    CA
7        F    OR
8        F    CA
9        M    MI

In [80]:
df4.iloc[4:10,:]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.50,28,3601,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.75,0,3601,S1,15.0
6,160401,CA,F,1952,335,398,48,15290,6,55,365,367,13.00,28,3101,T2,13.0
7,174934,OR,F,1305,391,471,19,19716,7,40,456,448,7.00,28,0,S2,5.0
8,2020,CA,F,3556,735,805,98,34382,9,55,701,838,7.35,2,2401,S1,7.0
9,74235,MI,M,473,327,363,1,12580,0,94,338,348,13.50,4,4912,T2,26.0

In [81]:
df4.iloc[:,4:10]

      med_house_income  avg_fam_income  hvp1    ic5  pobc1  pobc2
0                  310             343    83  17224     31     32
1                  392             409    27  18631      4     10
2                  319             455     1  15729      3     45
3                  244             301     3  10818      0     92
4                  185             308     0  11582      3     20
...                ...             ...   ...    ...    ...    ...
1010               304             380    47  13811     25     43
1011               304             380    47  13811     25     43
1012               437             684    36  29098      7     19
1013               493             540     1  16623      5     68
1014               205             295     0  12713      9     12

[1015 rows x 6 columns]

From second row to seventh:

In [82]:
df4.loc[2:7]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.750000,0,3601,S1,15.0
6,160401,CA,F,1952,335,398,48,15290,6,55,365,367,13.000000,28,3101,T2,13.0
7,174934,OR,F,1305,391,471,19,19716,7,40,456,448,7.000000,28,0,S2,5.0

Rows with indexes between 1 and 7:

In [83]:
df4.loc[1:7]

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
5,167462,CA,M,2645,644,697,87,20782,26,46,655,682,8.750000,0,3601,S1,15.0
6,160401,CA,F,1952,335,398,48,15290,6,55,365,367,13.000000,28,3101,T2,13.0
7,174934,OR,F,1305,391,471,19,19716,7,40,456,448,7.000000,28,0,S2,5.0

First seven rows, fourth column

In [84]:
df4.iloc[1:8,3]

1    1567
2     953
3     492
4     847
5    2645
6    1952
7    1305
Name: hv1, dtype: int64

In [85]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   controln          1015 non-null   int64
 1   state             1015 non-null   object
 2   gender            985 non-null    object
 3   hv1               1015 non-null   int64
 4   med_house_income  1015 non-null   int64
 5   avg_fam_income    1015 non-null   int64
 6   hvp1              1015 non-null   int64
 7   ic5               1015 non-null   int64
 8   pobc1             1015 non-null   int64
 9   pobc2             1015 non-null   int64
 10  med_house_income  1015 non-null   int64
 11  med_fam_income    1015 non-null   int64
 12  avggift           1015 non-null   float64
 13  tcode             1015 non-null   int64
 14  dob               1015 non-null   int64
 15  domain            1015 non-null   object
 16  target_d          1015 non-null   float64
dtypes: float64(2), int64(12), object(3)
memory usage: 134.9+ KB

#### Correcting data types

With `to_numeric`

In [86]:
df4['avggift'] = pd.to_numeric(df4['avggift'])

#### Removing duplicates

We can remove duplicate rows with the method `drop_duplicates()`

In [87]:
df4.drop_duplicates()

,controln,state,gender,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_house_income,med_fam_income,avggift,tcode,dob,domain,target_d
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,156152,CA,F,1115,313,391,4,16625,9,37,340,354,11.437500,2,2501,T2,16.0
996,67177,MI,F,709,504,539,0,17801,2,79,515,522,9.937500,0,2609,S2,12.0
997,34475,FL,M,696,277,355,2,12415,3,51,314,325,20.400000,2,3009,R2,20.0
998,114803,OK,F,911,384,613,16,31001,2,58,496,497,6.333333,28,0,C1,20.0
999,15332,NC,M,723,371,456,0,18915,6,47,414,398,6.538462,1,1701,C1,10.0

#### Adding a new column

In [88]:
df5.shape

(1015, 14)

In [89]:
df5.shape[0]

1015

In [90]:
import numpy as np

df5["not_so_many_randoms"] = np.random.random(size=df5.shape[0])
df5.head()

,controln,state,hv1,avg_fam_income,med_house_income,med_house_income,hvp1,pobc2,med_fam_income,avggift,tcode,dob,domain,target_d,not_so_many_randoms
0,190579,CA,3200,343,310,311,83,32,333,3.106061,1,0,U1,4.0,0.474340
1,42997,FL,1567,409,392,391,27,10,434,6.562500,2,1808,C1,7.0,0.540555
2,132896,OR,953,455,319,379,1,45,387,15.571429,2,4410,T1,25.0,0.962724
3,120189,TX,492,301,244,260,3,92,284,19.375000,0,0,T2,25.0,0.726859
4,138829,AZ,847,308,185,238,0,20,225,11.500000,28,3601,T2,25.0,0.015204

In [91]:
df5["empty_col"] = [" "]*df5.shape[0]

In [92]:
df5.head()

,controln,state,hv1,avg_fam_income,med_house_income,med_house_income,hvp1,pobc2,med_fam_income,avggift,tcode,dob,domain,target_d,not_so_many_randoms,empty_col
0,190579,CA,3200,343,310,311,83,32,333,3.106061,1,0,U1,4.0,0.474340,
1,42997,FL,1567,409,392,391,27,10,434,6.562500,2,1808,C1,7.0,0.540555,
2,132896,OR,953,455,319,379,1,45,387,15.571429,2,4410,T1,25.0,0.962724,
3,120189,TX,492,301,244,260,3,92,284,19.375000,0,0,T2,25.0,0.726859,
4,138829,AZ,847,308,185,238,0,20,225,11.500000,28,3601,T2,25.0,0.015204,

In [93]:
list(df5.columns)

['controln',
 'state',
 'hv1',
 'avg_fam_income',
 'med_house_income',
 'med_house_income',
 'hvp1',
 'pobc2',
 'med_fam_income',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d',
 'not_so_many_randoms',
 'empty_col']

In [94]:
df5[['controln',
 'state',
 'hv1',
 'avg_fam_income',
 'med_house_income',
 'hvp1',
 'pobc2',
 'med_fam_income',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'not_so_many_randoms',
 'target_d',
 'empty_col'] ]

,controln,state,hv1,avg_fam_income,med_house_income,med_house_income,hvp1,pobc2,med_fam_income,avggift,tcode,dob,domain,not_so_many_randoms,target_d,empty_col
0,190579,CA,3200,343,310,311,83,32,333,3.106061,1,0,U1,0.474340,4.0,
1,42997,FL,1567,409,392,391,27,10,434,6.562500,2,1808,C1,0.540555,7.0,
2,132896,OR,953,455,319,379,1,45,387,15.571429,2,4410,T1,0.962724,25.0,
3,120189,TX,492,301,244,260,3,92,284,19.375000,0,0,T2,0.726859,25.0,
4,138829,AZ,847,308,185,238,0,20,225,11.500000,28,3601,T2,0.015204,25.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,1953,380,304,353,47,43,337,13.500000,0,4212,C2,0.719353,14.0,
1011,161838,CA,1953,380,304,353,47,43,337,13.500000,0,4212,C2,0.538853,14.0,
1012,138311,AZ,1708,684,437,586,36,19,551,9.769231,2,1403,S1,0.119708,20.0,
1013,123469,TX,561,540,493,529,1,68,506,5.200000,0,0,T2,0.420153,5.0,
1014,135341,AZ,700,295,205,221,0,12,276,12.857143,0,0,C2,0.141750,12.0,

#### Summary functions

sum(), mean(), max()...

In [95]:
df5["hv1"].sum()

1154463

In [96]:
np.sum(df5["hv1"])

1154463

#### Write a csv

With `to_csv`

In [ ]:
#df5.to_csv("fsdsd/cleaned_file.csv")